[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"
lxml = "*"
plotly-express = "*"
nbformat = ">=4.2.0"
python-dotenv = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
